.svn
*.cd
Debug/
Release/
AngelScript/sdk/docs/
CodeAnalyst/
bin/
cryptopp/
*.jar
*.dia
*.dia~
AngelScript/sdk/samples/
Leap/
AngelScript/sdk/angelscript/source/
AngelScript/sdk/angelscript/lib/delete.me
AngelScript/sdk/angelscript/projects/
Engine/Include.h
Leviathan.sln
