.svn
*.cd
Debug/
Release/
AngelScript/sdk/docs/
CodeAnalyst/
*.dll
*.pdb
*.exe
*/bin/
/*/lib
cryptopp/
*.jar
*.dia
*.dia~
*.*~
AngelScript/sdk/samples/
AngelScript/sdk/angelscript/source/
AngelScript/sdk/angelscript/lib/
AngelScript/sdk/angelscript/projects/
Engine/Include.h
*.sln
bin/
*.7z
