.svn
*.cd
Debug/
Release/
AngelScript/sdk/docs/
CodeAnalyst/
*.dll
*.pdb
*.exe
*/bin/
/*/lib
cryptopp/
*.jar
*.dia
*.dia~
*.*~
AngelScript/sdk/samples/
AngelScript/sdk/angelscript/source/
AngelScript/sdk/angelscript/lib/
AngelScript/sdk/angelscript/projects/
Engine/Include.h
*.sln
bin/
*.7z
*.orig
CEF/Resources/
CEF/include/capi/
Pong/Main.cpp
Pong/PongIncludes.h
PongMasterServer/Main.cpp
PongMasterServer/PongMasterServerIncludes.h
PongServer/Main.cpp
PongServer/PongIncludes.h
Engine/Generated/
CEED/
CopyCEGUI.bat
/build/
nbproject/
[#]*[#]
GTAGS
GPATH
GRTAGS
